*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site{
  justify-content: space-between; */
  padding: 0px;
  background: linear-gradient(135deg, #000428, #004e92);
  color:white;
  margin:20px;
  padding:0%;
  box-sizing: border-box;
  border: 15% #ccc;

}
.logo{
text-decoration:none;
color: white;
font-size:1rem;
display:flex;
list-style: none;
gap:2px;
justify-self: start;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;}

.nav-links {
  display:flex;
  list-style: none;
  gap:20px;
}
.nav-bar a{
  text-decoration:none;
  color: white;
  font-size:1rem;
}

.link{
  text-decoration:none;
  font-size:1rem;
  display:flex;
  list-style: none;
  gap:40px;
display: flex;
align-items: center;}

.one{
  background:transparent;
  color:  rgb(24, 23, 23);
  border: white solid;
  padding: 10px;
  border-radius: 5px;
  } 
   .two{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color:black !important;
   }

  .hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 20px 50px;
  }

.content {
  max-width: 50%;
}
.content h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #ccc;
}

.buttons {
  display: inline-block;
  padding: 15px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 10px;
  margin-bottom: 2rem;
  }

.buttons a.first-button {
  background-color: #124fd3;
  color: white;
  text-decoration: none;
  padding: 20px ;
  border-radius:8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.buttons a.second-button{
  background: white;
  color:  rgb(24, 23, 23);
  text-decoration: none;
  padding:20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content:start;
  gap: 3rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  color: white;
}
.stats p{
  font-size: 1rem;

}

.imgs{
  display: flex;
  margin-top: 50px;
  width: 300px;
  max-width: 400%;
  justify-content:right;
  align-items:right;

}



